<form class="form-wrapper" name="searchForm">
  <input type="text" id="search" placeholder="Search for..." [(ngModel)]="searchText" name="searchInput" required>
  <!-- <input type="submit" value="go" id="submit"> -->
  <div class="" *ngIf="searchText">
    <table *ngIf="!detailsShown">
        <tbody>
            <tr (click)="showDetails(item, $event)" *ngFor="let item of searchItems">
                <td>{{ item.Description }}</td>
            </tr>
        </tbody>
    </table>
    <router-outlet></router-outlet>
  </div>
</form>

